@import "./reset.css";

$font-size: 40px;
$margin-left: 20px;
$margin-top: 20px;

.wilson {
    margin-left: $margin-left;
    margin-top: $margin-top;
    font-size: $font-size;
}

#timer {
    font-size: $font-size;
    margin-left: $margin-left;
    margin-top: $margin-top;
    transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;

    &.move {
        transform: translateY(-20px);
        color: red;
    }
}
